{% extends 'base.html' %}
{% block title %}Adicionar Produto{% endblock %}
{% block nav %}
<nav class="navbar">
    <ul>
        <li class="navbar__item"><a href="#">Principal</a></li>
        <li class="navbar__item selected"><a href="{{ url_for('products.index') }}">Produtos</a></li>
        <li class="navbar__item"><a href="{{ url_for('orders.index') }}">Pedidos</a></li>
        <li class="navbar__item"><a href="{{ url_for('clients.index') }}">Clientes</a></li>
        <li class="navbar__item"><a href="#">Financeiro</a></li>
        <li class="navbar__item"><a href="#">Administrar</a></li>
    </ul>
</nav>
{% endblock %}
{% block header %}Adicionar Cliente{% endblock %}
{% block main %}
<section class="main-section">
    <form action="{{ url_for('clients.client_add') }}" method="post" id="form_client">
        <fieldset>
            <legend>Informações do Produto</legend>
            <div class="form-row">
                <div class="form-col-1">
                    <label for="code">Código:</label>
                    <input type="number" name="code" value="{{ code }}" readonly required />
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-1">
                    <label for="name">Nome:</label>
                    <input type="text" name="name" autofocus tabindex="1" autofocus required />
                </div>
                <div class="form-col-1">
                    <label for="cnpj">CNPJ:</label>
                    <input type="text" name="cnpj" tabindex="2" required />
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-2">
                    <label for="full_name">Nome Completo:</label>
                    <input type="text" name="full_name" tabindex="3" required />
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-2">
                    <label for="address">Endereço:</label>
                    <input type="text" name="address" tabindex="4" required />
                </div>
            </div>
            <div class="form-row">
                <div class="form-col-1">
                    <label for="email">Email de Contato:</label>
                    <input type="email" name="email" tabindex="5" required />
                </div>
                <div class="form-col-1">
                    <label for="phone">Telefone de Contato:</label>
                    <input type="tel" name="phone" checked tabindex="6" />
                </div>
            </div>
        </fieldset>
    </form>
    <div class="main-section__action-buttons">
        <div>
            <button type="submit" form="form_client" value="submit" tabindex="13">Confirmar</button>
        </div>
        <a class="button danger" href="{{ url_for('clients.index') }}" tabindex="14">Voltar</a>
    </div>
</section>
{% endblock %}